.page-content {
  padding-top: 100px;

  > * {
    margin-bottom: 100px;
  }

  .wp-block-image {
    height: auto;
    max-width: 772px;
    margin: auto;
    margin-top: 100px;
  }

  .text-section {
    .row {
      justify-content: center;
      align-items: center;
      flex-direction: column;

      > * {
        max-width: 772px;
        width: 100%;
      }

      p {
        line-height: 32px;
      }

      blockquote {
        max-width: 1000px;
        font-size: 32px;
        text-align: center;
        line-height: 48px;
        letter-spacing: -0.35px;
        opacity: 1;
        font-style: italic;
        font-family: $sans-serif-alt;

        p {
          line-height: 48px;
        }

        span {
          color: #0235bb;
        }
      }
    }
  }

  h2 {
    font-size: 50px;
    letter-spacing: -0.5px;
    opacity: 1;
  }

  h3 {
    font-size: 30px;
    letter-spacing: 0;
    color: #020141;
    opacity: 1;
  }
}

.background-white + .background-white {
  padding-top: 0;
}
