.footer {
  padding-top: 100px;
  background-color: map-get($theme-colors, "dark-gray");
  color: white;

  .brand {
    width: 200px;
    display: block;
    margin-bottom: 45px;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;

    a {
      color: white;
      text-decoration: underline;
      margin-right: 20px;
    }

    img {
      max-width: 96px;
      height: auto;
      margin-right: 20px;
    }

    .vl {
      margin: 0 20px;
    }
  }

  .footer-info {
    .footer-info--title {
      color: map-get($theme-colors, "primary");
    }

    .footer-info--row {
      display: flex;

      span {
        display: block;
        margin-right: 20px;
        width: 60px;
      }
    }
  }

  .footer-social {
    display: flex;

    a {
      background-color: map-get($theme-colors, "primary");
      width: 32px;
      height: 32px;
      display: block;
      padding: 5px;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }

  form {
    input:not([type="submit"]),
    select {
      background-color: map-get($theme-colors, "light-gray");
    }
  }
}
