.page-header {
    
    .container {
        max-width: 1300px;
        background-color: #f7f7f7;
        font-family: $sans-serif;
        .featured-image {
            padding-left: 0;
            img {
                object-fit: contain;
                width: 399px;
                height: 505px;
            }
        }
        .realtor-label {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
        .realtor-description {
            font-size: 16px;
            font-weight: 300;
            line-height: 2;
            letter-spacing: 0.5px;
        }
    }
}