.single-post {
    article {
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: 0.5px;
    }
    .header-image {
        padding-left: 0 !important;
    }
    .header-content--meta {
            border-bottom: 0 !important;
            border-top: 1px solid #000;
            span {
            font-family: $sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-align: center;
            color: #000;
            padding: 10px !important;
        }
    }
    .header-content {
        .gallery-section .container {
            max-width: 1440px !important;
        }
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.5px;
        .header-sub-title {
            font-family: $sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
    .gallery-section .container {
        max-width: 1440px !important;
    }
    .gallery h2 {
        font-family: $sans-serif-alt;
        font-size: 33px;
        font-weight: 500;
        max-width: 772px;
        margin: 0 auto;
        padding: 16px 0;
    }
    .header-eyebrow {
        font-family: $sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #000;
        h2 {
            font-family: $sans-serif-alt;
            font-size: 45px;
            line-height: 1.56;
            color: #000;
        }
    }
    .btn {
        background: #e01a31;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        padding: 8px 10px 7px;
        color: #fff;
        border: 0;
    }
}


.text-section {
	h2 {
		font-size: 45px !important;
		color: #000000;
		font-weight: normal;
	}
	blockquote {
		max-width: 972px !important;
		line-height: 1.5 !important;
		color: #000;
		font-weight: 300;
		text-align: left !important;
		margin-top: 15px;
		font-family: $sans-serif !important;
		font-size: 32px !important;
	}
}
.gallery-section {
	h2 {
		color: #000000;
		font-family: $sans-serif-alt-x !important;
	}
	.gallery-img-wrapper {
		width: 16.66% !important;
	}
}
.image-caption {
	margin-top: 15px !important;
	color: #353535 !important;
}
.alignfull.image-section {
	margin-top: 95px !important;
	.container {
		max-width: 1440px !important;
		width: 100%;
		padding:0;
		.row {
			margin: 0;
		}
	}
}
.align.image-section {
	.container {
		max-width: 970px !important;
	}
}
.alignfull.cta-section {
	h2 {
		font-size: 45px !important;
		letter-spacing: normal !important;
		color: #000 !important;
	}
	a.btn.btn-primary {
		padding: 10px 20px;
		letter-spacing: 0.5px !important;
		line-height: normal;
	}
}
.cta-section {
	.container {
		max-width: 842px !important;
	}
}
.before-after-section {
	.col-md-6 {
		img {
			width: 100%;
		}
		&:nth-of-type(1) {
			padding-right: 5px;
		}
		&:nth-of-type(2) {
			padding-left: 5px;
		}
		h3 {
			color: #000000 !important;
			font-family: $sans-serif-alt-x !important;
			font-weight: 500 !important;
		}
	}
}
.two-column-text.alignfull.two-column-text-section {
	.container {
		width: 100%;
		max-width: 802px !important;
		h2 {
			color: #000000 !important;
		}
		p {
			max-width: 350px;
		}
		.col-md-6 {
			.gform_fields {
				display: unset;
				float: left;
				width: 100%;
			}
			form {
				fieldset {
					float: left;
					width: 50%;
					display: unset !important;
					&:nth-of-type(1) {
						padding-right: 10px;
					}
					&:nth-of-type(2) {
						padding-left: 10px;
					}
					input {
						background: #f8f8f8;
						border: 0;
					}
					legend {
						margin: 0 !important;
						color: #353535 !important;
						font-family: $sans-serif !important;
						font-weight: 300 !important;
						font-size: 12px !important;
					}
				}
				input {
					background: #f8f8f8;
					border: 0;
				}
				label {
					margin: 0 !important;
					color: #353535 !important;
					font-family: $sans-serif !important;
					font-weight: 300 !important;
					font-size: 12px !important;
					margin: 0 !important;
					color: #353535 !important;
					font-family:  !important;
					font-weight: 300 !important;
					font-size: 12px !important;
				}
				select {
					background: #f8f8f8;
					border: 0;
				}
				.gform_footer.top_label {
					input {
						margin-top: 25px;
						padding: 10px 20px;
						letter-spacing: 0.5px !important;
						line-height: normal;
						background: #e01a31;
						font-size: 14px;
						font-weight: 800;
						color: #fff;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
.single {
	.page-header {
		.col.header-content {
			.header-content--meta {
				border-top: 1px solid #969696;
				span {
					&:not(:last-child) {
						border-right: 1px solid #969696;
					}
				}
			}
			h1 {
				letter-spacing: normal;
			}
			p.header-content--description {
				color: #353535;
			}
			.justify-content-between {
				span.header-sub-title {
					color: #000;
				}
				p.header-sub-description {
					font-weight: 300;
					line-height: 24px;
					color: #353535;
					font-weight: 300;
					line-height: 24px;
					color: #353535;
				}
			}
		}
		.header-image {
			img {
				width: 100%;
			}
		}
	}
}


.cta-section.alignfull {
	.container {
		max-width: 1140px !important;
		.col-md-5 {
			&:nth-of-type(1) {
				img {
					max-width: 100%;
				}
			}
		}
	}
	padding: 0 !important;
}

.alignfull.text-section {
	h2 {
		color: #000000 !important;
	}
}
.alignfull.image-section {
	.container {
		.row {
			width: 100%;
		}
	}
}
.related.home-of-the-month-section {
	.row {
		a.btn.btn-primary {
			text-transform: uppercase;
			font-size: 14px !important;
			font-weight: 800 !important;
			letter-spacing: 0.5px !important;
		}
	}
}
.single {
	.page-header {
		.featured-image {
			img {
				height: 100% !important;
			}
		}
		.row {
			>.col-md-8 {
				padding-top: 35px !important;
				padding-bottom: 35px !important;
				h2.h1 {
					color: #000;
					letter-spacing: normal;
				}
				.realtor-description {
					p {
						max-width: 622px;
					}
				}
			}
		}
	}
}
.related.home-of-the-month-section {
	h2 {
		text-align: center !important;
		margin-bottom: 20px;
		color: #000 !important;
		letter-spacing: normal;
	}
	.row {
		.col-md-4 {
			padding: 5px !important;
			img {
				min-height: 370px;
				max-height: 370px;
			}
			.top-term {
				font-weight: 800;
				margin-top: 15px;
				padding-left: 20px;
				text-transform: uppercase;
			}
			h3 {
				padding-left: 20px;
				font-size: 26px !important;
				font-weight: 500;
				line-height: normal !important;
				letter-spacing: 1px;
				font-family: $sans-serif-alt-x !important;
			}
		}
	}
}
.home.alignfull.home-of-the-month-section {
	padding-top: 50px;
	padding-bottom: 170px;
	h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	.col-md-7.p-0 {
		position: relative;
	}
	.home--magazine-info {
		position: absolute;
		bottom: 0;
	}
	.col-md-5 {
		background: #ffffff;
		padding: 15px;
		.home-info {
			padding-left: 15px;
			span.header-eyebrow {
				text-transform: uppercase;
			}
		}
		h2.h1 {
			font-size: 45px;
			text-align: left;
			font-family: $sans-serif-alt-x;
			margin-bottom: 15px;
		}
		.home-info--meta {
			float: left;
			max-width: 302px;
			>div {
				float: left;
				font-family: $sans-serif;
				font-weight: 600;
				letter-spacing: normal;
				&:nth-child(odd) {
					padding: 5px 20px 5px 0px;
				}
				&:nth-child(even) {
					padding: 5px 0px 5px 20px;
				}
			}
			.rooms {
				border-right: 1px solid #969696;
				border-bottom: 1px solid #969696;
			}
			.space {
				border-bottom: 1px solid #969696;
			}
			.price {
				border-right: 1px solid #969696;
			}
		}
		.home-info--meta--bottom {
			float: left;
			width: 100%;
			margin: 35px 0px 30px 0px;
			a.btn.btn-primary {
				text-transform: uppercase;
			}
		}
		.home-subheader--author {
			float: left;
			width: 100%;
			.home-subheader--author-info {
				float: left;
				width: 65%;
				span {
					font-size: 14px;
					font-family: $sans-serif !important;
					font-weight: normal !important;
					color: #353535 !important;
				}
				p {
					font-size: 18px;
					font-family: $sans-serif !important;
					font-weight: 600 !important;
					color: #353535 !important;
					line-height: normal;
				}
			}
		}
		img {
			float: left;
			width: 35%;
		}
	}
}
.home.alignfull.home-of-the-month-section {
	.col-md-5 {
		.home-subheader--author {
			.home-subheader--author-info {
				.contact-info {
					float: left;
					width: 100%;
					margin-top: 15px;
					a {
						color: #e11b31;
						font-weight: 900;
						font-family: $sans-serif;
						line-height: normal;
					}
				}
			}
		}
	}
}
.home.alignfull.home-of-the-month-section {
	.col-md-7.p-0 {
		img {
			min-height: 521px;
		}
	}
	.home--magazine-info {
		position: absolute;
		bottom: -100px;
		left: 45px;
		width: calc(100% - 45px);
		display: flex;
		align-items: end;
		img {
			min-height: unset !important;
			border: 3px solid #ffffff;
		}
		.magazine-text {
			font-size: 14px;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			font-family: opensans, -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Helvetica Neue", arial, sans-serif;
			font-weight: 700;
			color: #353535;
			max-width: 176px;
			text-transform: uppercase;
			margin-left: 20px;
		}
	}
}
.single-neighborhood {
	nav.navbar {
		a.brand.navbar-brand {
			h2.header-logo {
				color: #ffffff;
			}
		}
	}
}


@media screen and (max-width: 1440px) {
    .container {
     
        .row {
            justify-content: center;
        }
    }
}