.single-post {
    article {
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: 0.5px;
    }
    .header-image {
        padding-left: 0 !important;
    }
    .header-content--meta {
            border-bottom: 0 !important;
            border-top: 1px solid #000;
            span {
            font-family: $sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-align: center;
            color: #000;
            padding: 10px !important;
        }
    }
    .header-content {
        .gallery-section .container {
            max-width: 1440px !important;
        }
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.5px;
        .header-sub-title {
            font-family: $sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
    .gallery-section .container {
        max-width: 1440px !important;
    }
    .gallery h2 {
        font-family: $sans-serif-alt;
        font-size: 33px;
        font-weight: 500;
        max-width: 772px;
        margin: 0 auto;
        padding: 16px 0;
    }
    .header-eyebrow {
        font-family: $sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #000;
        h2 {
            font-family: $sans-serif-alt;
            font-size: 45px;
            line-height: 1.56;
            color: #000;
        }
    }
    .btn {
        background: #e01a31;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        padding: 8px 10px 7px;
        color: #fff;
        border: 0;
    }
}


.burger-lounge {
	.page-header {
		.container {
			background: transparent;
		}
		.col.header-content {
			.header-content--meta {
				border-top: 1px solid #969696;
				span {
					&:not(:last-child) {
						border-right: 1px solid #969696;
					}
				}
			}
		}
	}
}
.burger-lounge {
	.page-header {
		.col.header-content {
			h1 {
				letter-spacing: normal;
			}
			p.header-content--description {
				color: #353535;
			}
			.justify-content-between {
				span.header-sub-title {
					color: #000000;
				}
				p.header-sub-description {
					font-weight: 300;
					line-height: 24px;
					color: #353535;
					font-weight: 300;
					line-height: 24px;
					color: #353535;
				}
			}
		}
	}
}
.burger-lounge-sec2 {
	h2 {
		font-size: 45px !important;
		color: #000000;
		font-weight: normal;
	}
	blockquote {
		max-width: 972px !important;
		line-height: 1.5!important;
		color: #000000;
		font-weight: 300;
		text-align: left !important;
		margin-top: 15px;
		font-family: $sans-serif !important;
		font-size: 32px !important;  
	}
}

.custom-h3 {
	h2 {
		color: #000000;
		font-family: $sans-serif-alt-x !important;
	}
}
body {
	.custom-gallery {
		.gallery-img-wrapper {
			width: 16.66% !important;
		}
	}
}
.custom-blounge-full {
	.container {
		width: 100%;
		max-width: 1440px !important;
		.row {
			margin: 0;
			.image-caption {
				margin-top: 15px;
				color: #353535;
			}
		}
	}
}
.custom-blounge-small {
	.container {
		max-width: 970px !important;
	}
}
.custom-callout {
	h2 {
		font-size: 45px !important;
		letter-spacing: normal !important;
		color: #000000 !important;
	}
	a.btn.btn-primary {
		padding: 10px 20px;
		letter-spacing: 0.5px !important;
		line-height: normal;
	}
}
.custom-blounge-full {
	margin-top: 95px !important;
}
.custom-2linecallout {
	.container {
		max-width: 842px !important;
		.col-md-6 {
			img {
				width: 100%;
				max-width: 272px;
			}
			h2 {
				color: #000000 !important;
				line-height: 1.11 !important;
				font-size: 45px !important;
				font-weight: normal !important;
			}
		}
	}
}

.custom-2linecallout {
	.container {
		.col-md-6 {
			p {
				color: #353535 !important;
			}
			a.btn.btn-primary {
				padding: 10px 20px;
				letter-spacing: 0.5px !important;
				line-height: normal;
			}
		}
	}
}
.custom-bfr-afr {
	.col-md-6 {
		img {
			width: 100%;
		}
		&:nth-of-type(1) {
			padding-right: 5px;
		}
		&:nth-of-type(2) {
			padding-left: 5px;
		}
		h3 {
			color: #000000 !important;
			font-family: $sans-serif-alt-x !important;
			font-weight: 500 !important;
		}
	}
}
.custom-monthly-signup {
	.container {
		width: 100%;
		max-width: 802px !important;
		h2 {
			color: #000000 !important;
		}
		p {
			max-width: 350px;
		}
		.col-md-4 {
			.gform_fields {
				display: unset;
				float: left;
				width: 100%;
			}
			form {
				fieldset {
					float: left;
					width: 50%;
					display: unset !important;
					&:nth-of-type(1) {
						padding-right: 10px;
					}
					&:nth-of-type(2) {
						padding-left: 10px;
					}
					input {
						background: #f8f8f8;
						border: 0;
					}
					legend {
						margin: 0 !important;
						color: #353535 !important;
						font-family: $sans-serif !important;
						font-weight: 300 !important;
						font-size: 12px !important;
					}
				}
				input {
					background: #f8f8f8;
					border: 0;
				}
				label {
					margin: 0 !important;
					color: #353535 !important;
					font-family: $sans-serif !important;
					font-weight: 300 !important;
					font-size: 12px !important;
					margin: 0 !important;
					color: #353535 !important;
					font-family: $sans-serif !important;
					font-weight: 300 !important;
					font-size: 12px !important;
				}
				select {
					background: #f8f8f8;
					border: 0;
				}
			}
		}
	}
}
.custom-monthly-signup {
	.container {
		.col-md-4 {
			form {
				.gform_footer.top_label {
					input {
						margin-top: 25px;
						padding: 10px 20px;
						letter-spacing: 0.5px !important;
						line-height: normal;
						background: #e01a31;
						font-size: 14px;
						font-weight: 800;
						color: #ffffff;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
footer.footer {
	span.footer-info--title {
		font-weight: 700;
		margin-bottom: 8px;
		display: block;
	}
	.col-md-6 {
		p {
			display: none;
		}
		ul {
			padding: 0;
			li {
				list-style-type: none;
				a {
					font-weight: normal;
					letter-spacing: 0.5px !important;
					color: #000000 !important;
				}
			}
		}
	}
}
.footer {
	.footer-bottom {
		color: #353535;
		span {
			color: #353535;
		}
		a {
			color: #353535;
		}
	}
}
footer.footer {
	.col-md-6 {
		.gform_fields {
			display: unset;
			float: left;
			width: 100%;
		}
		form {
			fieldset {
				float: left;
				width: 50%;
				display: unset !important;
				&:nth-of-type(1) {
					padding-right: 10px;
				}
				&:nth-of-type(2) {
					padding-left: 10px;
				}
				input {
					background: #e5e5e5;
					border: 0;
				}
				legend {
					margin: 0 !important;
					color: #353535 !important;
					font-family: $sans-serif !important;
					font-weight: 300 !important;
					font-size: 12px !important;
				}
			}
			input {
				background: #e5e5e5;
				border: 0;
			}
			label {
				margin: 0 !important;
				color: #353535 !important;
				font-family: $sans-serif !important;
				font-weight: 300 !important;
				font-size: 12px !important;
				margin: 0 !important;
				color: #353535 !important;
				font-family: $sans-serif !important;
				font-weight: 300 !important;
				font-size: 12px !important;
			}
			select {
				background: #e5e5e5;
				border: 0;
			}
		}
	}
}

footer.footer {
	.col-md-6 {
		form {
			.gform_footer.top_label {
				input {
					margin-top: 25px;
					padding: 10px 20px;
					letter-spacing: 0.5px !important;
					line-height: normal;
					background: #e01a31;
					font-size: 14px;
					font-weight: 800;
					color: #ffffff;
					text-transform: uppercase;
				}
			}
		}
	}
}
body.chad-dannecker {
	.page-header {
		.featured-image {
			img {
				height: 100%;
			}
		}
		.row {
			>.col-md-8 {
				padding-top: 35px !important;
				padding-bottom: 35px !important;
				h2.h1 {
					color: #000000;
					letter-spacing: normal;
				}
				.realtor-description {
					p {
						max-width: 622px;
					}
				}
			}
		}
	}
	.related.home-of-the-month-section {
		h2 {
			text-align: center !important;
			margin-bottom: 20px;
			color: #000000 !important;
			letter-spacing: normal;
		}
		.row {
			.col-md-4 {
				img {
					min-height: 370px;
					max-height: 370px;
				}
				.top-term {
					font-weight: 800;
					margin-top: 15px;
					padding-left: 20px;
					text-transform: uppercase;
				}
				h3 {
					padding-left: 20px;
					font-size: 26px !important;
					font-weight: 500;
					line-height: normal !important;
					letter-spacing: 1px;
					font-family: $sans-serif-alt-x;
				}
				padding: 5px !important;
			}
		}
	}
}
.custom-dan-asso {
	h2 {
		color: #000000 !important;
	}
}
.custom-team-img {
	.container {
		width: 100%;
		max-width: 1440px !important;
		padding: 0 !important;
		.row {
			padding: 0 !important;
			margin: 0 !important;
			width: 100% !important;
			img {
				width: 100%;
			}
			.image-caption {
				margin-top: 15px;
			}
		}
	}
}
.custom-cta-imgtext {
	.container {
		max-width: 782px !important;
		.col-md-6 {
			a.btn.btn-primary {
				margin-top: 20px;
			}
		}
	}
}
body.chad-dannecker {
	.related.home-of-the-month-section {
		.row {
			a.btn.btn-primary {
				text-transform: uppercase;
				font-size: 14px !important;
				font-weight: 800 !important;
				letter-spacing: 0.5px !important;
			}
		}
	}
}




@media screen and (max-width: 1440px) {
    .container {
     
        .row {
            justify-content: center;
        }
    }
}