/** Import Bootstrap functions */
@import "~bootstrap/scss/bootstrap";

$custom-colors: (
  primary: #e01a31,
  light-gray: #cacaca,
  gray: #adadad,
  dark-gray: #4c4c4c,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Fonts
$sans-serif: opensans, -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto",
  "Helvetica Neue", arial, sans-serif;

// GoodHeadlinePro-Cond
$sans-serif-alt: ff-good-headline-web-pro-con, $sans-serif;

// GoodHeadlinePro-XCond
$sans-serif-alt-x: ff-good-headline-web-pro-ext, $sans-serif-alt;
